.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ope {
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px; /* Espaciado entre los botones en línea */
}

.superior{
    position: absolute;
    top: 10px;
    left: 50;
    display: flex;
    flex-direction: column;
}

.botonesO{
    position: absolute;
    top: 100px;
    left: 50;
    display: flex;
    flex-direction: column;
}

.superior h1{
    color: white;
}

.contenido{
    position: absolute;
    top: 240px;
    left: 50;
    display: flex;
    flex-direction: column;
    min-width: 1600px;
}

.table{
    color: white;
}

.fondoCreacion {
    width: 1669px;
    height: 690px;
    flex-shrink: 0;
    background: rgba(0, 31, 63, 0.48);
    display: flex;
}

.fElecciones {
    /* Añade estilos adicionales según tus necesidades */
    margin-right: 20px; /* Ajusta según sea necesario */
    margin-left: 25px;
    margin-top: 20px;
    color: white; /* Color de texto para .fElecciones */
    min-width: 700px;
}

.formulario {
    /* Puedes agregar estilos adicionales para el formulario */
}

.rayaVertical {
    margin-top: 10px;
    width: 5px;
    height: 662px;
    background: white;
}

.llenadoCandidatos {
    /* Puedes agregar estilos adicionales para .llenadoCandidatos */
    margin-top: 25px;
    margin-left: 25px;
}

.rayaVertical,
.llenadoCandidatos {
    /* Establece un ancho mínimo para .rayaVertical y .llenadoCandidatos */
    min-width: 5px;
}

.candidato{
    margin-top: 20px;
    max-height: 600px; /* Ajusta según sea necesario */
    max-width: 880px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */

}

.card {
    width: 190px;
}

.candidato .card{

}

/* TABLA */

.table-responsive {
    
    width: 90%;
    overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
}

/* Estilo adicional para hacer que la tabla sea más responsiva */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-responsive {
    overflow-x: auto;
    max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
}

/* Personalización del scrollbar para navegadores basados en WebKit (Chrome, Safari) */
.table-responsive::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb (barra deslizante) */
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista (fondo del scrollbar) */
}

/* Personalización del scrollbar para navegadores basados en Firefox */
.table-responsive {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; /* Color del thumb y de la pista respectivamente */
}

.form-control {
    min-width: 100px;
}